@using BDO.DataAccessObjects.SecurityModule
@using CoreWebApp.Navigations
@using CoreWebApp.InAppResources
@inject CoreWebApp.Services.LocalizeService SharedLocalizer
@model owin_userEntity
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("CHANGE_PASSWORD");
    ViewData.AddActivePage(CoreWebApp.Navigations.ManageNavPages.ChangePassword);
}

<h4>@ViewData["Title"]</h4>
@await Html.PartialAsync("_StatusMessage", Model.status)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="strValue1">@SharedLocalizer.GetLocalizedHtmlString("CURRENT_PASSWORD")</label>
                <input asp-for="strValue1" class="form-control" />
                <span asp-validation-for="strValue1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password">@SharedLocalizer.GetLocalizedHtmlString("NEW_PASSWORD")</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmpassword">@SharedLocalizer.GetLocalizedHtmlString("CONFIRM_PASSWORD")</label>
                <input asp-for="confirmpassword" class="form-control" />
                <span asp-validation-for="confirmpassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("UPDATE_PASSWORD")</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
